/* MOBILE STYLES */

body {
  background-color: linen;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: thistle;
  width: 100%;
}

.header h1 {
  color: white;
  text-align: center;
  font-family: "Dancing Script";
  font-size: 50px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.header p {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: "Dancing Script";
  font-weight: bold;
  width: 100%;
}

.header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: solid white;
  margin-top: 10px;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.header nav li {
  color: white;
  font-family: "Dancing Script";
  font-size: 20px;
}
